@use "./mixins" as *;

@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro";
  font-size: 1.6rem;

  @include media-desktop {
    background-image: url("./background-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
